<%= form_for @message, :html => { :class => 'form-horizontal' } do |f| %>
    <%= render(partial: 'layouts/creation_errors', locals: {object: @message}) %>


    <%= hidden_field_tag :posting_id, params[:posting_id] %>

    <div class="form-group">
        <%= f.label :body, :class => 'control-label col-md-2' %>
        <div class="col-md-10">
            <%= f.text_area :body, rows: 6, :class => 'text_area form-control' %>
        </div>
    </div>

    <div class="form-group">
        <div class='col-md-offset-2 col-md-10'>
            <%= f.submit nil, :class => 'btn btn-primary' %>
            <%= link_to t('.cancel', :default => t('helpers.links.cancel')),
                        messages_path, :class => 'btn btn-default' %>
        </div>
    </div>
<% end %>
