<h1>Listing conversations</h1>

<table id="datatable" class="display" cellspacing="0" width="100%">

  <thead>
    <tr>
      <th>Poster</th>
      <th>Responder</th>
      <th>Posting</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>    </tr>
  </thead>

  <tbody>
    <% @conversations.each do |conversation| %>
      <tr>
        <td><%= conversation.poster %></td>
        <td><%= conversation.responder %></td>
        <td><%= conversation.posting %></td>
        <td><%= link_to 'Show', conversation %></td>
        <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
        <td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conversation', new_conversation_path %>
