<%= form_for(@skills_user) do |f| %>
  <% if @skills_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skills_user.errors.count, "error") %> prohibited this skills_user from being saved:</h2>

      <ul>
      <% @skills_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :skill_id %><br>
    <%= f.text_field :skill_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :proficiency_level %><br>
    <%= f.text_field :proficiency_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
