<h1>Listing users</h1>

<table id="datatable" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>State</th>
      <th>City</th>
      <th>User name</th>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Score</th>
      <th>Num responses</th>
      <th>Is active</th>
      <th>Is available</th>
      <th>Is admin</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.location.state %></td>
        <td><%= user.location.city %></td>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.score %></td>
        <td><%= user.num_responses %></td>
        <td><%= user.is_active %></td>
        <td><%= user.is_available %></td>
        <td><%= user.is_admin %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
