<%= form_for(@posting) do |f| %>
  <% if @posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@posting.errors.count, "error") %> prohibited this posting from being saved:</h2>

      <ul>
      <% @posting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :skill_id %><br>
    <%= f.text_field :skill_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.text_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :posting_body %><br>
    <%= f.text_field :posting_body %>
  </div>
  <div class="field">
    <%= f.label :open_posting %><br>
    <%= f.check_box :open_posting %>
  </div>
  <div class="field">
    <%= f.label :is_request %><br>
    <%= f.check_box :is_request %>
  </div>
  <div class="field">
    <%= f.label :days_duration %><br>
    <%= f.text_field :days_duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
