<h1>Listing postings</h1>

<table id="datatable" class="display" cellspacing="0" width="100%">

  <thead>
    <tr>
      <th>User</th>
      <th>User</th>
      <th>Skill</th>
      <th>Location</th>
      <th>Header</th>
      <th>Body</th>
      <th>Open posting</th>
      <th>Is request</th>
      <th>Days duration</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @postings.each do |posting| %>
      <tr>
        <td><%= posting.user %></td>
        <td><%= posting.user %></td>
        <td><%= posting.skill %></td>
        <td><%= posting.location %></td>
        <td><%= posting.header %></td>
        <td><%= posting.body %></td>
        <td><%= posting.open_posting %></td>
        <td><%= posting.is_request %></td>
        <td><%= posting.days_duration %></td>
        <td><%= link_to 'Show', posting %></td>
        <td><%= link_to 'Edit', edit_posting_path(posting) %></td>
        <td><%= link_to 'Destroy', posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Posting', new_posting_path %>
