<h1>Listing postings</h1>

<table id="datatable" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Poster</th>
      <th>Responder</th>
      <th>State</th>
      <th>City</th>
      <th>Skill Category</th>
      <th>Skill Name</th>
      <th>Header</th>
      <th>Body</th>
      <th>Open posting</th>
      <th>Is request</th>
      <th>Duration</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @postings.each do |posting| %>
      <tr>
        <td><%= posting.poster.user_name %></td>
        <td><%= posting.responder.user_name if posting.responder %></td>
        <td><%= posting.location.state %></td>
        <td><%= posting.location.city %></td>
        <td><%= posting.skill.category %></td>
        <td><%= posting.skill.name %></td>
        <td><%= posting.header %></td>
        <td><%= posting.body %></td>
        <td><%= posting.open_posting %></td>
        <td><%= posting.is_request %></td>
        <td><%= posting.duration %></td>
        <td><%= link_to 'Show', posting %></td>
        <td><%= link_to 'Edit', edit_posting_path(posting) %></td>
        <td><%= link_to 'Destroy', posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Posting', new_posting_path %>
