<div class='menu'>
    <h2>Menu</h2>
    <div class='identity'>Logged in as:<%= session[:user_name] %></div>

    <ul>
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'users', users_path %></li>
        <li><%= link_to 'locations', locations_path %></li>
        <li><%= link_to 'postings', postings_path %></li>
        <li><%= link_to 'reviews', reviews_path %></li>
    </ul>
</div>