<div class="page-header">
    <h1>About <small>this site</small></h1>
</div>

<div>
    <p>
    Skill-Trader.com allows you to trade and barter services!
    </p>
    <p>
    Sign in and register your skills to be part of our family from over
        100 available skill options and serving 50 locations!
    </p>

    <p>
    Suggestions, Comments, Feedback about your experiences with us,
        please <%= link_to 'contact us!', new_feedback_message_path %>
    </p>

    <p>
        Disclosure: This is an application developed for
        <%= link_to 'Northeastern University', 'http://www.ccs.neu.edu/' %> Summer Term 2014 for Database Management
        by Nelson Chiu
    </p>

    <p>
        Built with <%= link_to 'Ruby on Rails', 'http://www.rubyonrails.org' %>
        <br>
        On the <%= link_to 'Ruby Language', 'https://www.ruby-lang.org/' %>
        <br>
        Hosted by <%= link_to 'Heroku', 'http://www.heroku.com' %>
        <br>
        Database by <%= link_to 'PostgeSQL', 'http://www.postgresql.org/' %>
        <br>
        With <%= link_to 'IntelliJIDEA', 'http://www.jetbrains.com/idea/' %>
        <br>
        Version Control by <%= link_to 'GitHub', 'https://github.com/' %>
        <br>
    </p>

    <ul>
        Dependencies
        <li><%= link_to 'Twitter Bootstrap', 'http://getbootstrap.com/' %></li>
        <li><%= link_to 'Glyphicons', 'http://glyphicons.com/' %></li>
        <li><%= link_to 'Sass', 'http://sass-lang.com/' %></li>
        <li><%= link_to 'jQuery', 'http://jquery.com' %></li>
        <li><%= link_to 'Select2', 'http://ivaynberg.github.io/select2/' %></li>
        <li><%= link_to 'DataTables', 'http://www.datatables.net/' %></li>
        <li><%= link_to 'Slider for Bootstrap', 'http://www.eyecon.ro/bootstrap-slider/' %></li>
        <li>And many more...</li>
    </ul>

</div>