<%= form_for(@locations_skill) do |f| %>
  <% if @locations_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@locations_skill.errors.count, "error") %> prohibited this locations_skill from being saved:</h2>

      <ul>
      <% @locations_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.text_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :skill_id %><br>
    <%= f.text_field :skill_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
